<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="ISO-8859-1">
    <title>Sign Up - NTM</title>
    <link rel="stylesheet" type="text/css" href="/webjars/bootstrap/css/bootstrap.min.css" />
    <script type="text/javascript" src="/webjars/jquery/jquery.min.js"></script>
    <script type="text/javascript" src="/webjars/bootstrap/js/bootstrap.min.js"></script>
</head>
<body>
    <div class="container text-center">
<div>
    <h2>Login to NTM Marketplace</h2>
    <br/>
</div>


  
<form  th:action="@{/process-login}" method="post" th:object="${user}" style="max-width: 400px; margin: 0 auto;">
<div class="border border-secondary rounded p-3">
    <div th:if="${param.error}">
        <p class="text-danger">Invalid email/password or User may not be verified.</p>
    </div>
    <div th:if="${param.logout}">
        <p class="text-warning">You have been logged out.</p>
    </div>
    <div>
        <p><input type="text" name="username" th:field="*{username}" required class="form-control" placeholder="E-mail" /></p>
    </div>
    <div>
        <p><input type="password" name="password" th:field="*{password}" required class="form-control" placeholder="Password" /></p>
    </div>
    <div>
        <p><input type="submit" value="Login" class="btn btn-primary" /></p>
    </div>
</div>
</form>
<br>
<div><p>OR</p></div>
<div>
<!-- <h4><a th:href="@{/oauth2/authorization/google}">Login with Google</a></h4> -->    
    <a class="btn btn-outline-dark" th:href="@{/oauth2/authorization/google}" role="button" style="text-transform:none">
      <img width="20px" style="margin-bottom:3px; margin-right:5px" alt="Google sign-in" src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/53/Google_%22G%22_Logo.svg/512px-Google_%22G%22_Logo.svg.png" />
      Sign In with Google
    </a>
</div>
</div>



<!-- Minified CSS and JS -->
<link   rel="stylesheet" 
        href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" 
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" 
        crossorigin="anonymous">
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" 
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" 
        crossorigin="anonymous">
</script>